body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.header {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.project-title {
    font-size: 2.5rem;
    margin: 0;
    
}

.project-description {
    font-size: 1.2rem;
    margin-top: 10px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.features {
    padding: 40px 20px;
    background-color: grey;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.feature-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}

.feature {
    background-color: #eaeaea;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-title {
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
    margin: 0;
}

.feature-description {
    font-size: 1rem;
    margin-top: 10px;
    color: #333;
}

/* Responsive styles */
@media (max-width: 768px) {
    .feature-list {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 90%;
    }

    .header, .features, .footer {
        padding: 20px 10px;
    }

    .project-title {
        font-size: 2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .project-title {
        font-size: 1.5rem;
    }

    .project-description, .feature-description {
        font-size: 0.9rem;
    }
    
    .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    .section-title {
        font-size: 1.2rem;
    }

    .feature {
        padding: 10px;
    }
}